section.page {
  width: $desktop-size;
  background-color: $light-grayish-cyan;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5% 10%;
  min-height: 100vh;
}
nav {
  h2 {
    width: 97px;
    height: 60px;
    text-align: justify;
    letter-spacing: -0.2px;
  }
}
.bill {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  background-color: $white;
  padding: 35px;
  border: inherit;
  border-radius: 15px;
  label {
    font-size: 18px;
    font-weight: 700;
    color: $dark-grayish-cyan;
  }
  &__compute {
    width: 50%;
    height: 100%;
    > form {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      justify-content: space-around;
      .bill-total {
        > section {
          width: 90%;
          position: relative;
          height: 57px;
          > span {
            &:first-child {
              position: absolute;
              left: 12px;
              top: 20px;
            }
          }
          svg {
          }
          input {
            width: 100%;
            padding-right: 15px;
            padding-left: 5%;
            text-align: end;
            padding-right: 7px;
            height: 100%;
            border-radius: 5px;
            border: inherit;
            background-color: $sec-light-grayish-cyan;
            color: $very-dark-cyan;
            font-size: 24px;
            &::placeholder {
              color: $very-dark-cyan;
            }
          }
        }
      }
      .bill-tip {
        .percent-tip {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 360px;
          height: 67px;
          column-gap: 17px;
          row-gap: 8px;
          margin-bottom: 15px;
          &__option {
            height: 30px;
            width: 100px;
            > button {
              width: 100%;
              height: 100%;
              border: inherit;
              border-radius: 8px;
              background-color: $very-dark-cyan;
              color: $sec-light-grayish-cyan;
              color: $sec-light-grayish-cyan;
            }
            button.active {
              background-color: $strong-cyan;
              color: $very-dark-cyan;
            }
            > input {
              width: 100%;
              height: 100%;
              border: inherit;
              border-radius: 8px;
              color: $sec-dark-grayish-cyan;
              background-color: $light-grayish-cyan;
              text-align: center;
              &:hover {
                border: 1px solid $strong-cyan;
              }
            }
          }
        }
      }
      .number-people {
        label {
          .error-number {
            color: red;
            font-size: 14px;
            margin: 40px;
          }
        }
        > section {
          width: 90%;
          position: relative;
          height: 57px;
          > span {
            &:first-child {
              position: absolute;
              left: 12px;
              top: 20px;
            }
          }
          input {
            width: 100%;
            padding-right: 15px;
            padding-left: 5%;
            text-align: end;
            padding-right: 7px;
            height: 100%;
            border-radius: 5px;
            border: inherit;
            background-color: $sec-light-grayish-cyan;
            color: $very-dark-cyan;
            font-size: 24px;
            &::placeholder {
              color: $very-dark-cyan;
            }
          }
        }
      }
    }
  }
  &__result {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
    border: inherit;
    border-radius: 15px;
    background-color: $very-dark-cyan;
    padding: 20px;
    > section {
      width: 100%;
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-right: 10px;
      label {
        width: 140px;
        > span {
          display: block;
          &:first-child {
            color: $white;
          }
          &:last-child {
            font-size: 14px;
            color: $dark-grayish-cyan;
          }
        }
      }
      input {
        width: 60%;
        border: inherit;
        border-radius: 5px;
        height: 100%;
        font-size: 34px;
        text-align: right;
        background-color: inherit;
        color: $strong-cyan;
      }
      button {
        width: 40%;
        height: 100%;
        border: inherit;
        border-radius: 10px;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin: 0 auto;
        &:first-child {
          background-color: $dark-grayish-cyan;
          color: $white;
        }
        &:last-child {
          background-color: $strong-cyan;
          color: $very-dark-cyan;
        }
        &:disabled {
          background-color: $dark-grayish-cyan;
          color: $very-dark-cyan;
        }
      }
    }
  }
}
// input[type="number"] {
//   &::-webkit-outer-spin-button,
//   &::-webkit-inner-spin-button {
//     -webkit-appearance: none;
//     margin: 0;
//   }
// }
button:hover {
  opacity: 0.8;
}
